header {
    text-align: center;
}


header .logo {
    width: 10%;
    height: auto;
    
}
header .painel {
    width:  100%;
}

#modal1 img {
    width: 100%;
    height: 310px;

}

#modal2 img {
    width: 100%;
    height: 310px;

}


.card-image img {

    Cursor: pointer;
}


/* modal Salgados */
#modal3 img {
    width: 100%;
    height: 310px;

}


/* modal Pães especiais */
#modal4 img {
    width: 100%;
    height: 310px;
}


/* modal Salmão */
#modal5 img {
    width: 90%;
    height: 310px;

}

/* modal Sushi */
#modal6 img {
    width: 100%;
    height: 310px;
}

#sex_masculino, #sex_feminino {
/* !important força a utilizar a regra do css ao inves do materialize*/
margin-left: 100px !important;
/* foi adiciona position: relative; pois inspecionamos o site e identificamos que  materialize esta utilizando position: absulote esta deixando as opções masculina e femininas sobrepostas*/

position: relative;

}